<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      Adicionar Tarefa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nome da Tarefa:</ion-label>
    <ion-input [(ngModel)]="taskName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descrição: </ion-label>
    <ion-textarea [(ngModel)]="description" type="text"></ion-textarea>
  </ion-item>
  <ion-button color="primary" (click)="saveTask()" expand="block">Salvar Tarefa</ion-button>
</ion-content>
