<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Bem Vindo, {{ username }}
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h2>Minha Lista</h2>
  </div>

  <div id="container">
    <ion-list *ngIf="taskList.length > 0; else nothing">
      <ion-item *ngFor="let task of taskList">
        <ion-label (click)="viewTask(task)"> {{ task.taskName }} </ion-label>
        <ion-button (click)="completeTask(task)">
          <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ng-template #nothing>
      <div padding>
        <h3>Você ainda não possui tarefas...</h3>
      </div>
    </ng-template>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>